<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BeeInformed - Beezy.cz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- DASHBOARD -->

  <ion-grid class="dashboard">
    <ion-row>

      <ion-col>
        <ion-card>
          <ion-card-content class="stat">
            <div class="stat-number">
              {{ locations.length }}
            </div>
            <div class="stat-label">
              Stanoviště
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content class="stat">
            <div class="stat-number">
              {{ totalHives }}
            </div>
            <div class="stat-label">
              Úly
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  <!-- SEZNAM STANOVIŠŤ -->

  @if(locations.length === 0){

  <ion-card>
    <ion-card-content class="ion-text-center">
      Žádná stanoviště
    </ion-card-content>
  </ion-card>

  }

  @for(loc of locations; track loc.id){

  <ion-card button (click)="open(loc)" class="location-card">

    <ion-card-header>

      <ion-card-title>
  {{ loc.nazev }}
  </ion-card-title>

  <ion-card-subtitle>
  {{ loc.lokace }}
  </ion-card-subtitle>

</ion-card-header>


<ion-card-content>

  <ion-chip color="success">

    🐝 {{ loc.beehives_count ?? loc.beehives?.length ?? 0 }}
  {{ hiveWord(loc.beehives_count ?? loc.beehives?.length ?? 0) }}

  </ion-chip>


  <ion-button
    fill="clear"
    color="danger"
    size="small"
    class="delete-btn"
    (click)="delete(loc.id); $event.stopPropagation()"
  >
    Smazat
  </ion-button>

</ion-card-content>

</ion-card>

  }

</ion-content>

<!-- FAB ADD BUTTON -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button (click)="openModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>

<!-- MODAL -->

<ion-modal [isOpen]="isModalOpen">

  <ng-template>
    <ion-header>
      <ion-toolbar>

        <ion-title>Nové stanoviště</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            Zavřít
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>


    <ion-content class="ion-padding">

      <ion-item>

        <ion-input
          label="Název"
          labelPlacement="stacked"
          [(ngModel)]="newLocation.nazev">
        </ion-input>

      </ion-item>


      <ion-item>

        <ion-input
          label="Lokace"
          labelPlacement="stacked"
          [(ngModel)]="newLocation.lokace">
        </ion-input>

      </ion-item>


      <ion-item>

        <ion-textarea
          label="Poznámky"
          labelPlacement="stacked"
          [(ngModel)]="newLocation.poznamky">
        </ion-textarea>

      </ion-item>


      <ion-button expand="block" (click)="save()">

        Uložit

      </ion-button>

    </ion-content>

  </ng-template>

</ion-modal>
